@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.boxcenter{
    font-family: 'Roboto';
    text-align: center;
    display: flex;
    justify-content: center;
}

.tittle{
  
    position: absolute;
    width: 208px;
    height: 24px;
    top: 200px;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    text-transform: uppercase;
}

.select{
   
    position: absolute;
    width: 212px;
    height: 20px;
    top: 280px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: center;
}

.btn-sup{
    
    width: 104px;
    height: 32px;
    top: 328px;
    left: 50px;
    
}

.btn-inf{
    width: 104px;
    height: 32px; 
    top: 376px;
    left: -53px;
}

