.leaflet-container {
    width: 100%;
    height: 217.5px;
    border-radius: 5px;
  }
.PreviewImage{
  border-radius: 100%;
  height: 96px;
  width: 96px;
  position: absolute;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  }

  .PreviewImage.showPreview{
    opacity: 1;
  }

  .PreviewImage2{
    
    height: 300px;
    width: 300px;
    position: absolute;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    }
  
    .PreviewImage2.showPreview2{
      opacity: 1;
    }